@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
}
.acordeon {
  width:100%;
  /* max-width: 20rem; */
  padding: 10px;
  /* color: var(--negro); */
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  /* border-radius: 1rem; */
  /* background-color: var(--blanco); */
  /* -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent; */
          /* box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent; */
}

.acordeon .bloque {
  /* margin: 0 0 1rem;
  padding: 10px; */
  padding-top: 10px;
  overflow: hidden;
  color: var(--negro);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 10px;
  background-color: var(--blanco);
  -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
          box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.acordeon .h2 {
  /* margin: 0 0 1rem; */
  padding: 1rem;
  color: var(--negro);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 10px;
  background-color: var(--blanco);
  -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
          box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  cursor: pointer;
}
.acordeon .h2:hover {
  color: var(--negro);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 1rem;
  background-color: var(--blanco);
  -webkit-box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.4rem 0.4rem 0.8rem var(--sombra-ppal), inset -0.4rem -0.4rem 0.8rem var(--sombra-sec);
          box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.4rem 0.4rem 0.8rem var(--sombra-ppal), inset -0.4rem -0.4rem 0.8rem var(--sombra-sec);
}

.acordeon .contenido {
  height: 0;
  /* padding: 0rem; */
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  
}

.acordeon .bloque.activo .contenido {
  height: 12rem;
}